---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2 style="text-align: center; width: 100%;"><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links" style="display: flex; justify-content: center; width: 100%;">
			<HeaderLink href="/cms-blog">ブログ</HeaderLink>
			<HeaderLink href="/about">このブログについて</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1.5em; /* タイトルを少し大きく */
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: rgb(var(--black)); /* タイトルの色を黒に */
	}
	nav {
		display: flex;
		flex-direction: column; /* 縦並びにする */
		align-items: center;
		justify-content: center; /* 中央揃え */
		padding: 1em 0;
	}
	nav a {
		padding: 0.5em 1em; /* パディングを調整 */
		color: var(--accent); /* ナビゲーションリンクの色をアクセントカラーに */
		text-decoration: none;
		border-bottom: none; /* 下線を削除 */
	}
	nav a.active {
		color: var(--accent-dark); /* アクティブ時の色 */
	}
	.internal-links {
		margin-top: 1em; /* タイトルとナビゲーションの間に余白 */
	}
	@media (max-width: 720px) {
		nav {
			padding: 0.5em 0;
		}
		h2 {
			font-size: 1.2em;
		}
			.internal-links {
				margin-top: 0.5em;
			}
		}
</style>

